
/* Resets the box size of every element */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Gives the body element a parent height to compare against */
html {
  height: 100%;
}

body {
  min-height: 100%;
  line-height: 1;
  font-family: 'Courier New', Courier, monospace;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 200%;
}

/* Matches the font of special elements to the rest of the page */
input, select, option, optgroup, textarea, button,
pre, code {
  font-size: 100%;
  font-family: inherit;
}

/* Removes default bullet points from lists */
ol, ul {
  list-style: none;
}

nav{
    display: flex;
    flex-direction: row;
    width: 100vw;
    height:60px;
    background-color: black;
    color: white;
    align-items: center;
    justify-content: center;
}

nav h1{
    color: white;
    text-align: center;
    padding: 4px;
    font-family: 'Staatliches', cursive;
    margin: 0 auto;
}
main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bigtitle{
  color:white;
  background-color: black;
  padding: 20px;
}


.container{
  display: flex;
  flex-direction: row;
  text-align: justify;
  box-shadow: 5px 5px 5px lightgray;
  border-radius: 10px;
  margin: 40px;
  max-width: 800px;
}

.container img{
  max-height:238px;
  margin: 30px;
  border: black solid 4px;
}

#profile{
  max-width: 220px;
  max-height: 238px;
  height: auto;
  width: auto;
  margin: 10px;
  border: black solid 4px;
}

.block {
  display: flex;
  flex-direction: column;
  margin: 10px;
}
